services:
  db:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dashboard
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    volumes:
      - .:/app
    ports:
      - "3001:3001"
    env_file: ./apps/backend/.env
    depends_on:
      - db
    command: >
      sh -c "
        cd apps/backend &&
        pnpm exec prisma migrate deploy &&
        pnpm run prisma:seed &&
        cd ../.. &&
        pnpm --filter backend start:dev
      "

  frontend:
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data: